.channels {
  background-color: inherit;
  max-height: 85%;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none; // Safari and Chrome
  }

  &__header {
    background-color: inherit;
    color: rgba($color-white, 1);
  }

  &__list {
    background-color: inherit;
  }

  &__portal {
    background-color: inherit;
    color: rgba($color-white, 0.55);
    display: block;
    border: none;
    font-size: 0.75em;
    margin-bottom: 0.5em;

    &--focus {
      color: $color-white;
    }

    &:hover {
      color: $color-white;
      cursor: pointer;
    }

    &:focus {
      outline: 0;
    }
  }
}
