.channels {
  background-color: inherit;
  height: 85%;

  &__header {
    background-color: inherit;
    color: rgba($color-white, 0.5);
  }

  &__list {
    background-color: inherit;
  }

  &__portal {
    background-color: inherit;
    color: rgba($color-white, 0.5);
    display: block;
    border: none;
    font-size: 0.75em;
    margin-bottom: 0.5em;

    &--focus {
      color: $color-white;
    }

    &:hover {
      color: $color-white;
      cursor: pointer;
    }

    &:focus {
      outline: 0;
    }
  }
}
