.channels {
	background-color: inherit;
	height: 85%;

	&--header {
		background-color: inherit;
		color: rgba($color-white, 0.5);
	}

	&--list {
		background-color: inherit;
	}

	&--portal {
		background-color: inherit;
		color: rgba($color-white, 0.5);
		display: block;
		border: none;
		font-size: .75em;
		margin-bottom: .5em;

		&:hover {
			color: $color-white;
			cursor: pointer;
		}

		&:focus {
			outline: 0;
		}
	}
}