.home {
  background-color: $color-white;
}

.home__main {
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

.user-online {
  color: $color-useronline;
  text-align: center;
}
