.login-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba($color-primary, 0.2);
}

// .login {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background-color: $color-white;
//   border: 1px solid $color-primary;
//   padding: 4em;
//   border-radius: 10px;
// }

.login__header {
  margin-bottom: 2em;
}
