.sidebar {
  display: flex;
  flex-direction: column;
  flex: 1 0 14em;
  background-color: $color-primary;
  // min-width: 14em;
  max-width: 18em;
  min-height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
  padding: 0px 1em;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;

  &__header {
    margin: 0.75em 0;
    background-color: inherit;
    color: $color-white;
  }

  &__username {
    height: 2em;
    color: rgba($color-white, 0.5);
  }
}

.login {
  float: right;
}
