.sidebar {
	display: inline-block;
	background-color: $color-primary;
	width: 20em;
	height: 100vh;
	padding: 1em;

	&--header {
		margin: 0 0 1em;
		background-color: inherit;
		color: $color-white;
	}

	&--username {
		height: 2em;
		color: rgba($color-white, 0.5);
	}
}

.login {
	float: right;
}

