.sidebar {
  display: inline-block;
  background-color: $color-primary;
  min-width: 14em;
  max-width: 18em;
  max-height: 100vh;
  overflow-x: hidden;
  padding: 0px 1em;

  &__header {
    margin: 1em 0;
    background-color: inherit;
    color: $color-white;
  }

  &__username {
    height: 2em;
    color: rgba($color-white, 0.5);
  }
}

.login {
  float: right;
}
